<%= turbo_frame_tag dom_id(bar) do %>
  <div id="<%= dom_id(bar) %>" data-controller="bar">
    <div class="bar-item">
      <h3 data-bar-target="name"><%= bar.name %></h3>
      <p data-bar-target="description"><%= bar.description %></p>
      
      <div data-bar-target="actions">
        <%= link_to "Редактировать", edit_foo_bar_path(@foo, bar), 
            class: "btn btn-primary",
            data: { 
              action: "bar#showEditForm"
            } %>
            
        <%= button_to "Удалить", foo_bar_path(@foo, bar), 
            method: :delete,
            class: "btn btn-danger",
            data: { 
              turbo_method: :delete,
              turbo_confirm: "Вы уверены, что хотите удалить эту запись?",
              action: "bar#delete"
            } %>
      </div>

      <div data-bar-target="editForm" class="hidden">
        <%= render "form", foo: @foo, bar: bar %>
      </div>
    </div>
  </div>
<% end %> 