<h1>Новый объект</h1>

<%= form_with(model: @foo) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Создать", class: "btn btn-primary mt-2" %>
<% end %>

<%= link_to "Назад к списку", foos_path, class: "btn btn-link mt-3" %>